* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  box-shadow: 2px 4px 5px #000;
  border: 2px solid #fff;
  text-align: center;
  background-color: #eee;
  width: fit-content;
  height: auto;
  border-radius: 10px;
}

.header {
  background: purple;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header input {
  outline: none;
  border: 1px solid #eee;
  width: 50px;
  height: 40px;
  margin-block: 20px 15px;
  padding: 5px 10px;
  background: transparent;
  border-radius: 2px;
  font-size: 30px;
  color: #fff;
}

.header button {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
}

.resultDisplay {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
  padding-inline: 20px;
}

.resultDisplay div {
  /* margin-top: 20px; */
  background: #fff;
  padding-block: 20px;
}

.resultDisplay div:not(:first-child) {
  margin-top: 20px;
}

.resultDisplay div h3 {
  margin-bottom: 10px;
}